---
layout: base.njk
templateClass: tmpl-home
---

{# The Home page uses this template–it extends the base template #}

<div class="wrapper home">
  <div class="content">

<div class="illo-container">
<img class="illustration" src="/assets/tada.svg"/>
</div>

<h1>
{{ metadata.title }}
</h1>

    {{ content | safe }}
    
    {# After the the content defined in index.md, list the blog posts in the collection #}
    <ul>
      {%- for post in collections.posts -%}
        <li{% if page.url == post.url %} aria-current="page"{% endif %}><a href='{{ post.url }}'>{{ post.data.title }}</a> – {{ post.data.page.date  | htmlDateString }}</li>
      {%- endfor -%}
      <li><a href="/posts">View all posts</a></li>
    </ul>
  </div>
</div>
